<div style="width: 100%; margin: 10px 0;">
  <div style="height: 100%; width: 100%; margin: 0 auto; font-size: 11px; height: 110px;">
    <div class="panel panel-success">
      <div class="panel-heading" style="background-color:#2fa4e7">
         <span>ただいま</span><span>  <%= @current_station_info[:station_name] %>  </span><span>駅です。</span>
      </div>
      <% if @next_station_info.present? %>
      <div>
      <span>次の目的地は</span><span>  <%= @next_station_info[:station_name] %>  </span><span>駅です。</span>
      </div>
      <% end %>
      <table class="table">
        <tbody>
          <tr>
            <td>浅草方面</td>
            <% @train_time[:up].each do |up_time| %>
            <td><%= up_time %></td>
            <% end %>
          </tr>
          <tr>
            <td>渋谷方面</td>
            <% @train_time[:down].each do |down_time| %>
            <td><%= down_time %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div style="height: 165px; width: 210px; margin: 10px 0; border-color: rgb(255, 218, 192);">
  <div style="height: 100%; width: 100%; margin: 0; border-color: rgb(255, 218, 192);">
    <ul class="list-box" style="padding: 0px 5px;">
      <% @station_name_array.each_with_index do |station| %>
        <% if @station_name_hash[station["odpt:station"]][:enable] %>
          <li class="list-text" style="width: 15px;font-size: 18px;">
            <div class="enable-station"
                 style="background-color: orange; width: 18px; height: 18px; margin: 0 0;">&nbsp;</div>
          <%= @station_name_hash[station["odpt:station"]][:name] %>
          </li>
          <% if @station_name_hash[station["odpt:station"]][:name] != "浅草"%>
            <li class="list-text" style="font-size: 3px; width: 10px;">
                <div style="background-color: #4C4747; width: 14px; height: 5px; margin: 0 0;">&nbsp;</div>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <img src="/assets/train/train.png" border="0" id="img_user" style="position:absolute;" height="20">
  <div id="station_info" class="display-none-style"
    data-current-station-no="<%= @current_station_info[:station_no] %>"
    data-next-station-no="<%= @next_station_info[:station_no] if @next_station_info.present? %>" >
  </div>
</div>

<style>
div.tate-area{
  float: left;
  font-size:12pt;
  height: 100%;
  overflow: auto;
}
div.tate-line{
  height: 115px;
  float: left;
  width:1.05em;
  line-height:1.05em;
  margin-right:0.3em;
  margin-left:0.3em;
  padding-bottom:0.2em;
/*  font-family:'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic','SimHei','HiraKakuProN-W3','STHeitiJ-Medium','TakaoExゴシック','TakaoExGothic','MotoyaLCedar','Droid Sans Japanese','Droid Sans Fallback',monospace;*/
  word-wrap:break-word;
  direction:ltr;
  margin-bottom: 5px;
}
.station-mark {
  height: 25px;
  margin: 5px;
  background-color: orange;
}
.station-mark-arrow {
  height: 25px;
  margin: 5px;
}
div.tate-line-arrow{
  height: 115px;
  float: left;
  width:1.05em;
  line-height:1.05em;
/*  margin-right:0.3em;
  margin-left:0.3em;*/
  padding-bottom:0.2em;
/*  font-family:'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic','SimHei','HiraKakuProN-W3','STHeitiJ-Medium','TakaoExゴシック','TakaoExGothic','MotoyaLCedar','Droid Sans Japanese','Droid Sans Fallback',monospace;*/
  word-wrap:break-word;
  direction:ltr;
  margin-bottom: 5px;
}

.list-box {
  display: table;
  height: 100%;
  width: 150%;
}
.list-img,
.list-text {
  display: table-cell;
  /*vertical-align: middle;*/
 /* width: 14px;*/
}
.display-none-style {
  display: none;
}
</style>
