<div style="width: 100%; margin: 10px 0;">
  <div style="height: 100%; width: 95%; margin: 0 auto; background-color: blueviolet; color: white;">
    <div>
      <span>現在の位置は</span><span><%= @station_info[:station_name] %></span><span>駅です。</span>
    </div>
    <div>
      <span>浅草方面</span>
      <% @train_time[:up].each do |up_time| %>
        <span><%= up_time %></span>
      <% end %>
    </div>
    <div>
      <span>渋谷方面</span>
      <% @train_time[:down].each do |down_time| %>
        <span><%= down_time %></span>
      <% end %>
    </div>
  </div>
</div>

<div style="height: 130px; width: 100%; margin: 10px 0;">
  <div style="height: 100%; width: 95%; margin: 0 auto; background-color: pink; color: white; overflow-x: scroll; overflow-y: hidden;">
    <ul class="list-box" style="padding: 0px 10px;">
      <% @station_name_array.each_with_index do |station, index| %>
        <li class="list-text">
          <div style="background-color: orange; width: 5px; height: 10px; margin: 3px auto;">&nbsp;</div>
          <%= @station_name_hash[station["odpt:station"]] %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="station_info" class="display-none-style"
    data-station-no="<%= @station_info[:station_no] %>" >
  </div>
</div>

<style>
div.tate-area{
  float: left;
  font-size:12pt;
  height: 100%;
  overflow: auto;
}
div.tate-line{
  height: 115px;
  float: left;
  width:1.05em;
  line-height:1.05em;
  margin-right:0.3em;
  margin-left:0.3em;
  padding-bottom:0.2em;
/*  font-family:'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic','SimHei','HiraKakuProN-W3','STHeitiJ-Medium','TakaoExゴシック','TakaoExGothic','MotoyaLCedar','Droid Sans Japanese','Droid Sans Fallback',monospace;*/
  word-wrap:break-word;
  direction:ltr;
  margin-bottom: 5px;
}
.station-mark {
  height: 25px;
  margin: 5px;
  background-color: orange;
}
.station-mark-arrow {
  height: 25px;
  margin: 5px;
}
div.tate-line-arrow{
  height: 115px;
  float: left;
  width:1.05em;
  line-height:1.05em;
/*  margin-right:0.3em;
  margin-left:0.3em;*/
  padding-bottom:0.2em;
/*  font-family:'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic','SimHei','HiraKakuProN-W3','STHeitiJ-Medium','TakaoExゴシック','TakaoExGothic','MotoyaLCedar','Droid Sans Japanese','Droid Sans Fallback',monospace;*/
  word-wrap:break-word;
  direction:ltr;
  margin-bottom: 5px;
}

.list-box {
  display: table;
  height: 100%;
  width: 150%;
}
.list-img,
.list-text {
  display: table-cell;
  /*vertical-align: middle;*/
  width: 15px;
}
.display-none-style {
  display: none;
}
</style>
