
<%= render 'missions/station_info' %>

<% if @json.present? %>
<p class="bg-primary" style="margin: 3px auto; font-size: 18px; vertical-align: middle;">
  <Marquee id="operation-message"  style="vertical-align: middle;" crollamount="2" truespeed>ミッションを選んでください</Marquee>
</p>
  <div id="dynamic_div" style="height: 210px; width: 95%; margin: 10px;">
    <div id="mission_div" class="" style="height: 100%; width: 95%; margin: 0 auto;
                                  color: white;">

      <div id="mission_data" style="height: 130px;">
        <% @json.each do |mission| %>
          <div class="mission-info" data-station-no=<%= mission[:station_no]%>
             data-target-place-no=<%= mission[:target_place_no]%> >
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                            <%= link_to image_tag('mission/image_' + mission[:station_no] + '_' + mission[:target_place_no] + '.jpg',
                             border: 0, size: '90x72'),
                             missions_show_path(station_no: mission[:station_no],
                             mission_no: mission[:mission_no],
                             target_place_no: mission[:target_place_no]),
                class: "btn btn-primary", style: "padding: 0px; margin: 0px;" %>
                <div class="caption">
                   <p><%= mission[:mission_title] %></p>
                </div>
              </div>
            </div>
          </div>
          </div>

        <% end %>
      </div>

      <div class="btn-field" style="background-color: white; height: 40px; width: 100%; padding: 3px; margin: 10px;">
        <%= link_to 'at random', '#', id: "random_btn", class: "btn btn-primary", style: "float: right;" %>
      </div>
    </div>
  </div>

<% else %>
<p class="bg-primary" style="margin: 3px auto; font-size: 18px; vertical-align: middle;">
  <Marquee id="operation-message"  style="vertical-align: middle;" crollamount="2" truespeed>サイコロを振ってください</Marquee>
</p>
  <div style="margin: 10px;">
    <%= link_to "shake the dice", "#", id: "dice_btn", class: "btn btn-primary",
                style: "margin: 0 auto; display: block; width: 50%;" %>
  </div>

  <div id="dynamic_div" style="height: 200px; width: 95%; margin: 10px;">
    <div id="mission_div" class="display-none-style" style="height: 100%; width: 95%; margin: 0 auto;
                                  color: white;">
      <div class="btn-field" style="background-color: white; height: 40px; width: 100%; padding: 3px;">
        <%= link_to 'at random', '#', id: "random_btn", class: "btn btn-primary", style: "float: right;" %>
      </div>
    </div>

    <div id="dice_div" style="height: 100%; width: 80%; margin: 0 auto;
                              background-color: antiquewhite; color: white; display: none;">
      <%= image_tag "dice/dice_1.png", id: "dice_img", class: "ready-dice", alt: "サイコロ画像",
                                       name: "diceimg", style: "float:right" %>
    </div>
  </div>
<% end %>

<div style="margin: 10px;">
  <%= link_to "End the trip", action_histories_destroy_path(user_no: @user[:user_no]),
                              class: "btn btn-primary",
                              method: "delete",
                              style: "display: block; margin: 0 auto; width: 50%;",
                              confirm: "旅を終了しますか？" %>
</div>

<div class="display-none-style">
  <div id="user_info"
    data-user-no="<%= @user[:user_no] %>"
    data-uid="<%= @user[:uid] %>"
    data-user-name="<%= @user[:user_name] %>" 
    data-progress-trip="<%= @progress_trip %>" >
  </div>
</div>

<style>
div.tate-area{
  float: left;
  font-size:12pt;
  height: 100%;
  overflow: auto;
}
div.tate-line{
  height: 115px;
  float: left;
  width:1.05em;
  line-height:1.05em;
  margin-right:0.3em;
  margin-left:0.3em;
  padding-bottom:0.2em;
/*  font-family:'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic','SimHei','HiraKakuProN-W3','STHeitiJ-Medium','TakaoExゴシック','TakaoExGothic','MotoyaLCedar','Droid Sans Japanese','Droid Sans Fallback',monospace;*/
  word-wrap:break-word;
  direction:ltr;
  margin-bottom: 5px;
}
.station-mark {
  height: 25px;
  margin: 5px;
  background-color: orange;
}
.station-mark-arrow {
  height: 25px;
  margin: 5px;
}
div.tate-line-arrow{
  height: 115px;
  float: left;
  width:1.05em;
  line-height:1.05em;
/*  margin-right:0.3em;
  margin-left:0.3em;*/
  padding-bottom:0.2em;
/*  font-family:'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic','SimHei','HiraKakuProN-W3','STHeitiJ-Medium','TakaoExゴシック','TakaoExGothic','MotoyaLCedar','Droid Sans Japanese','Droid Sans Fallback',monospace;*/
  word-wrap:break-word;
  direction:ltr;
  margin-bottom: 5px;
}

.display-none-style {
  display: none;
}

.select-mission {
  background-color: orange;
}

</style>
