<div>
  <div style="width: 97%; margin: 5px auto -10px auto;">
    <div style="height: 100%; width: 100%; margin: 0 auto; font-size: 11px; height: 110px;">
      <div class="panel panel-success">
        <div class="panel-heading" style="background-color:#2fa4e7">
           <span>「<%= @current_station_info[:station_name] %></span><span>駅」から</span>
           <span>「<%= @next_station_info[:station_name] %></span><span>駅」へ移動中</span>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td rowspan="2"><%= @current_station_info[:station_name] %>駅発 </td>
              <td>浅草方面</td>
              <% @train_time[:up].each do |up_time| %>
                <td><%= up_time %></td>
              <% end %>
            </tr>
            <tr>
              <td>渋谷方面</td>
              <% @train_time[:down].each do |down_time| %>
                <td><%= down_time %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%= render 'missions/station_info' %>

  <div style="margin: 5px; height: 100%; width: 100%; margin: 0 auto; font-size: 15px; height: 25px;">
    <p class="bg-primary">実行中のミッション</p>
  </div>

  <div style="margin: 5px; height: 165px; width: 85%; margin: 10px 25px; font-size: 15px;">
    <div class="caption" style="padding: 0;">
       <h4 style="margin: 5px;"><%= @mission_info[:mission_title] %></h4>
    </div>
    <div style="display: table;">
      <div style="display: table-cell">
        <%= link_to image_tag(@mission_info[:mission_image_url], border: 0, size: '90x72', style:'border-radius: 5px'),
                    missions_show_path(@mission_info),
                    style: "display: block; padding: 0px; margin: 3px;" %>
      </div>
      <div style="display: table-cell">
        <%= form_tag 'capture', enctype: "multipart/form-data" do %>
          <%= hidden_field_tag 'user_no', @current_trip_info[:user_no] %>
          <%= hidden_field_tag 'trip_no', @current_trip_info[:trip_no] %>
          <%= hidden_field_tag 'do_no',  @current_trip_info[:do_no] %>
          <%= hidden_field_tag 'station_no',  @data[:station_no] %>
          <%= hidden_field_tag 'mission_no',  @data[:mission_no] %>

          <div style="height:1px;width:1px;overflow:hidden;margin-left:-999px">
            <input id="photo_content" name="photo_content" type="file" accept="image/*">
          </div>
          <div class="box_camera">
            <%= image_tag asset_path("camera.png"), {id: 'camera_btn', width: '60'} %>
          </div>
          <%= submit_tag 'preview', id: 'submit_btn', class: "display-none-style loading" %>
        <% end %>
      </div>
    </div>
    <div style="margin: 10px;">
       <p><%= @mission_info[:mission_summary] %></p>
    </div>
  </div>

  <div style="margin: 5px; height: 100%; width: 100%; margin: 0 auto; font-size: 15px; height: 25px;">
    <p class="bg-primary">目的地情報</p>
  </div>

  <div style="background-color: white; padding-top: 1px; margin: 10px 25px 25px 25px;">
    <div>
      <%= image_tag @target_place_detail[:target_place_image_url],
                    border: 0, size: '272x146', style:'border-radius: 10px' %>
    </div>
    <div class="title" style=" height: 20px; margin: 1px auto;">
      <h4 style="margin: 5px;"><%= @target_place_detail[:name] %></h4>
    </div>

    <div class="destination-info" style="border: 1px; height: 80px; margin: 10px;">
        <div style="height: 100%;">
                <div>
          <span>住所: </span>
          <span><%= @target_place_detail[:address] %></span>
                </div>
                <div>
          <span>電話番号: </span>
          <span><%= @target_place_detail[:tel] %></span>
                </div>
                <div>
          <%= link_to 'MAP', '#', id: "map_btn", "data-tooltip" => "#html_map", class: "btn btn-info" %>
          <div id="html_map" style="display: none;">
            <%=  image_tag 'map/' + @target_place_detail[:map_url], border: 0, size: '250x250' %>
          </div>
          </div>
      </div>
    </div>

    <div class="mission-detail" style=" height: 50px; margin: 10px;">
        <p><%= @target_place_detail[:abustract] %></p>
    </div>
  </div>

  <div class="btn-field" style="margin: 5px; padding: 5px;">
  	<div style="width: 90%; margin: 0 auto;">
      <%= link_to "ミッション変更",
          missions_destroy_path(@data), method: :delete, class: "btn btn-primary loading-confirm",
          style: "float: left; margin-right: 10px;", confirm: "進行中のミッションを変更しますか？" %>
      <%= button_to "ミッション達成", missions_complete_path(@data), class: "btn btn-primary loading-confirm", confirm: "ミッションを達成しましたか？" %>
    </div>
  </div>

</div>

<script>
  $(function(){
    $('#camera_btn').click(function() {
      $("#photo_content").trigger('click');
    });

    $('#photo_content').change(function(){
      $('#submit_btn').click();
    });
  })
</script>
<style>
div.tate-area{
  float: left;
  font-size:12pt;
  height: 100%;
  overflow: auto;
}
div.tate-line{
  height: 115px;
  float: left;
  width:1.05em;
  line-height:1.05em;
  margin-right:0.3em;
  margin-left:0.3em;
  padding-bottom:0.2em;
/*  font-family:'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic','SimHei','HiraKakuProN-W3','STHeitiJ-Medium','TakaoExゴシック','TakaoExGothic','MotoyaLCedar','Droid Sans Japanese','Droid Sans Fallback',monospace;*/
  word-wrap:break-word;
  direction:ltr;
  margin-bottom: 5px;
}
.station-mark {
  height: 25px;
  margin: 5px;
  background-color: orange;
}
.station-mark-arrow {
  height: 25px;
  margin: 5px;
}
div.tate-line-arrow{
  height: 115px;
  float: left;
  width:1.05em;
  line-height:1.05em;
/*  margin-right:0.3em;
  margin-left:0.3em;*/
  padding-bottom:0.2em;
/*  font-family:'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic','SimHei','HiraKakuProN-W3','STHeitiJ-Medium','TakaoExゴシック','TakaoExGothic','MotoyaLCedar','Droid Sans Japanese','Droid Sans Fallback',monospace;*/
  word-wrap:break-word;
  direction:ltr;
  margin-bottom: 5px;
}
div.box {
  position: relative;
  top: 135px;
  left: 130px;
  text-align: center;
  vertical-align: middle;
}
</style>
