<div>
  <div style="height: 50px; width: 100%; margin: 10px;">
    <div style="height: 100%; width: 80%; margin: 0 auto;
                background-color: blueviolet; color: white;">
      <div>
        <span>浅草方面</span>
        <% @train_time[:up].each do |up_time| %>
          <span><%= up_time %></span>
        <% end %>
      </div>
      <div>
        <span>渋谷方面</span>
        <% @train_time[:down].each do |down_time| %>
          <span><%= down_time %></span>
        <% end %>
      </div>
    </div>
  </div>

  <div style="height: 100px; width: 100%; margin: 10px;">
    <div style="height: 100%; width: 80%; margin: 0 auto;
                background-color: pink; color: white;">
      <div class="tate-area">
        <% @station_name_array.each_with_index do |station, index| %>
          <div class="tate-line">
            <div class="station-mark"></div>
            <%= @station_name_hash[station["odpt:station"]] %>
          </div>

          <% unless index == @station_name_array.size-1%>
            <div class="tate-line-arrow"><div class="station-mark-arrow">→</div></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div style="background-color: white; padding-top: 1px; overflow: auto;
              height: 200px; margin: 0 10px;">
  <div class="title" style="background-color: blueviolet; height: 50px;
                            color: white; margin: 10px;">
    <p><%= @target_place_detail[:name] %></p>
  </div>

  <div class="destination-info" style="background-color: pink; height: 80px; color: white; margin: 10px;">
  	<div style="height: 100%;">
  	  <div style="height: 60px; width: 60px; float: left;">
  	  	<%=  image_tag 'mission/image_' + @target_place_detail[:station_no] + '_' + @target_place_detail[:target_place_no] + '.jpg', border: 0, size: '60x60' %>
  	  	<%#= image_tag @target_place_detail[:image_url], border: 0, size: '60x60' %>
  	  </div>
  	  <div style="margin-left: 80px;">
  	  	<div>
          <span>住所: </span>
          <span><%= @target_place_detail[:address] %></span>
  	  	</div>
  	  	<div>
          <span>電話番号: </span>
          <span><%= @target_place_detail[:tel] %></span>
  	  	</div>
  	  	<div>
          <%= link_to "地図", @target_place_detail[:map_url], class: "btn btn-info" %>
  	  	</div>
  	  </div>
    </div>
  </div>

  <div class="mission-detail" style="background-color: skyblue; height: 200px;
                                     color: white; margin: 10px; overflow: auto;">
  	<div class="mission-abstract" 
  	     style="background-color: darkblue; height: 50px; margin: 10px;">
  	  <p><%= @target_place_detail[:abustract] %></p>
  	</div>
  	<div class="mission-pr1" style="background-color: gray; height: 50px; margin: 10px;">
  	  <p><%= @target_place_detail[:pr1] %></p>
  	</div>
  	<div class="mission-pr2" style="background-color: gray; height: 50px; margin: 10px;">
  	  <p><%= @target_place_detail[:pr2] %></p>
  	</div>
  	<div class="mission-pr3" style="background-color: gray; height: 50px; margin: 10px;">
  	  <p><%= @target_place_detail[:pr3] %></p>
  	</div>
  </div>

  </div>

  <div class="btn-field" style="margin: 5px; padding: 5px;">
  	<div style="width: 60%; margin: 0 auto;">
      <%= link_to "Give up", missions_index_path, class: "btn btn-primary", confirm: "Are you sure?" %>
      <%= link_to "Satisfied", missions_index_path, class: "btn btn-primary" %>
    </div>
  </div>

</div>

<style>
div.tate-area{
  float: left;
  font-size:12pt;
  height: 100%;
  overflow: auto;
}
div.tate-line{
  height: 115px;
  float: left;
  width:1.05em;
  line-height:1.05em;
  margin-right:0.3em;
  margin-left:0.3em;
  padding-bottom:0.2em;
/*  font-family:'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic','SimHei','HiraKakuProN-W3','STHeitiJ-Medium','TakaoExゴシック','TakaoExGothic','MotoyaLCedar','Droid Sans Japanese','Droid Sans Fallback',monospace;*/
  word-wrap:break-word;
  direction:ltr;
  margin-bottom: 5px;
}
.station-mark {
  height: 25px;
  margin: 5px;
  background-color: orange;
}
.station-mark-arrow {
  height: 25px;
  margin: 5px;
}
div.tate-line-arrow{
  height: 115px;
  float: left;
  width:1.05em;
  line-height:1.05em;
/*  margin-right:0.3em;
  margin-left:0.3em;*/
  padding-bottom:0.2em;
/*  font-family:'ヒラギノ角ゴ ProN','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ Pro','Hiragino Kaku Gothic Pro','メイリオ','Meiryo','ＭＳ ゴシック','MS Gothic','SimHei','HiraKakuProN-W3','STHeitiJ-Medium','TakaoExゴシック','TakaoExGothic','MotoyaLCedar','Droid Sans Japanese','Droid Sans Fallback',monospace;*/
  word-wrap:break-word;
  direction:ltr;
  margin-bottom: 5px;
}

</style>