<div style="background-color: white; padding-top: 1px; margin: 10px;">
  <div class="title" style="background-color: blueviolet; height: 50px;
                            color: white; margin: 10px;">
    <p><%= @target_place_detail[:name] %></p>
  </div>

  <div class="destination-info" style="background-color: pink; height: 80px; color: white; margin: 10px;">
  	<div style="height: 100%;">
  	  <div style="height: 60px; width: 60px; float: left;">
  	  	<%=  image_tag 'mission/image_' + @data[:station_no] + '_' + @data[:target_place_no] + '.jpg', border: 0, size: '60x60' %>
  	  	<%#= image_tag @target_place_detail[:image_url], border: 0, size: '60x60' %>
  	  </div>
  	  <div style="margin-left: 80px;">
  	  	<div>
          <span>住所: </span>
          <span><%= @target_place_detail[:address] %></span>
  	  	</div>
  	  	<div>
          <span>電話番号: </span>
          <span><%= @target_place_detail[:tel] %></span>
  	  	</div>
  	  	<div>
          <%= link_to 'MAP', '#', id: "map_btn", "data-tooltip" => "#html_map", class: "btn btn-info" %>
          <div id="html_map" style="display: none;">
            <%=  image_tag 'map/' + @target_place_detail[:map_url], border: 0, size: '250x250' %>
          </div>
  	  	</div>
  	  </div>
    </div>
  </div>

  <div class="mission-detail" style="background-color: skyblue; height: 200px;
                                     color: white; margin: 10px; overflow: auto;">
  	<div class="mission-abstract" 
  	     style="background-color: darkblue; height: 50px; margin: 10px;">
  	  <p><%= @target_place_detail[:abustract] %></p>
  	</div>
  	<div class="mission-pr1" style="background-color: gray; height: 50px; margin: 10px;">
  	  <p><%= @target_place_detail[:pr1] %></p>
  	</div>
  	<div class="mission-pr2" style="background-color: gray; height: 50px; margin: 10px;">
  	  <p><%= @target_place_detail[:pr2] %></p>
  	</div>
  	<div class="mission-pr3" style="background-color: gray; height: 50px; margin: 10px;">
  	  <p><%= @target_place_detail[:pr3] %></p>
  	</div>
  </div>

  <div class="btn-field" style="margin: 0 auto; padding: 5px; width: 50%;">
    <%= link_to "取消", missions_index_path, class: "btn btn-primary",
        style: "margin-right: 10px; float: left;" %>
    <%= button_to "決定", missions_create_path(@data), class: "btn btn-primary",
        confirm: "ミッションを決定してもいいですか？" %>
  </div>
</div>

