<!--nav-->
<nav class="navbar navbar-default navbar-custom" role="navigation"
     style="border-radius: 0px; margin-bottom: 0px;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=<%= root_path %> 
         style="padding-top: 5px; padding-bottom: 5px;">
        <img src=<%= asset_path "tokyometro_logo.jpg" %> height="40">
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if session[:uid].present? %>
          <li><%= link_to "トップ画面", missions_index_path(@data), class: "nav-link text-center loading" %></li>
          <li><%= link_to "旅の履歴", action_histories_index_path(@data), class: "nav-link text-center loading" %></li>
          <li><%= link_to "ヘルプ", helps_index_path, class: "nav-link text-center loading" %></li>
          <li><%= link_to "ログアウト", signout_path, method: "delete", class: "nav-link text-center loading" %></li>
        <% else %>
          <li><%= link_to "ファイスブックのアカウントでログイン", "/auth/facebook", class: "nav-link text-center loading" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
