<!DOCTYPE html>
<html>
<head>
  <title>MetroApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
  <div id="wrap">
    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>
      <div class="alert alert-dismissable alert-warning" style="margin: 0px;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <h4><%= value %></h4>
      </div>
    <% end %>

    <div id="contents" style="height: 100%;">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </div>
  <div id="before_start_app" class="jumbotron"
     style="margin: 0 auto; width: 95%; height: 250px; opacity: 1.0; background-color: rgb(118, 232, 247); position: relative; top: -500px; display: none;">
      <div class="panel-body" style="font-size: 20px;">ようこそ 『メトろく』へ</div>
      <div style="margin: 0 auto; width: 95%; margin: 2px; font-size=15px">
      <p style="margin: 3px">メトろくは東京メトロ銀座線をすごろく形式で旅するアプリです。</p>
      <p style="margin: 3px">サイコロを振り、各駅に存在するミッションをクリアしながら、終着の浅草駅を目指してください。</p>
      <p style="margin: 3px">それでは、いい旅になることを祈っています。</p>
    </div>
    <a id="getting_start_app" class="btn btn-danger" style="margin: 0 auto; display: block; width: 80%;">アプリを開始</a>
  </div>
    <div id="loading" style="opacity: 1.0; display: none; z-index: 10;">
      <img src=<%= asset_path "loading.gif" %> style="position: relative; top: 35%; left: 30%;">
    </div>
</body>
<style>
html, body {
	height: 100%;
}
body {
  background-color: black;
}
#wrap {
    width: 100%;
    position: relative;
    min-height: 100%;	
    background-color: white;
    color: black;
}
#contents {
	padding-bottom: 100px;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#loading {
  width: 100%; /* gif画像の幅 */
  height: 100%; /* gif画像の高さ */
  padding: 20px; /* gif画像を大きく */
  position: fixed; /* gif画像をスクロールさせない */
  top: 0; /* gif画像を画面縦中央へ */
}

</style>
<script>
nowLoadingStart = function() {
    $('#wrap').css('opacity', 0.25);
    $('#loading').css('display', '');
}

nowLoadingStop = function() {
    $('#wrap').css('opacity', 1);
    $('#loading').css('display', 'none');
}
</script>
</html>
